<launch>
  <node name="cmvision" pkg="cmvision" type="cmvision" respawn="false">
    <remap from="image" to="/camera/rgb/image_color"/>
    <param name="color_file" value="$(find hat_detector)/config/green-hat.txt" />
    <param name="mean_shift_on" value="false" />
    <param name="color_radius_pix" value="0" />
    <param name="spatial_radius_pix" value="0" />
    <param name="debug_on" value="false" />
  </node>

  <node name="detect_hat_in_3D" pkg="hat_detector" type="DetectHatIn3D.py" output="screen" />
</launch>

