<launch>

	<!-- AMCL PARSER -->
	<node pkg="probability_filters" type="parse_amcl_into_ranges.py" name="amcl_parser" output="screen" >
	      <!-- confidence of -1 means just the mean pose -->
	      <!-- confidence of 0 means the mean pose plus the most probable pose in the AMCL pose cloud -->
	      <param name="confidence" value="0" />
	</node>

	<!-- TRANSFORM OBJECT BOUNDS TO /map FRAME -->
	<node pkg="probability_filters" type="transform_polygon_stamped.py" name="polygon_transformer" output="screen" >
	      <param name="target_frame" value="/map" />
	      <remap from="polygon_in" to="object_bounds" />
	      <remap from="polygon_out" to="object_bounds_map" />
	</node>

	<!-- OBJECT PROJECTOR -->
	<node pkg="probability_filters" type="project_object_onto_poses.py" name="object_projector" output="screen" />

	<!-- BOUNDING BOX OBJECT FILTER -->
	<arg name="only_record" default="False"	/>
	<node pkg="probability_filters" type="bounding_box_object_filter.py" name="bounding_box_filter" output="screen" >
	      <param name="only_record" value="$(arg only_record)" />
	</node>

</launch>