<launch>

	<!-- AMCL PARSER -->
	<node pkg="probability_filters" type="parse_amcl_into_ranges.py" name="amcl_parser" output="screen" >
	      <param name="use_particles" value="True" />
	      <param name="confidence_in_sigmas" value="2" />
	</node>

	<!-- TRANSFORM OBJECT BOUNDS TO /map FRAME -->
	<node pkg="probability_filters" type="transform_polygon_stamped.py" name="polygon_transformer" output="screen" >
	      <param name="target_frame" value="/map" />
	      <remap from="polygon_in" to="object_bounds" />
	      <remap from="polygon_out" to="object_bounds_map" />
	</node>

	<!-- EXTREME VIEWPOINT FINDER -->
	<node pkg="probability_filters" type="find_extreme_viewpoints.py" name="extreme_viewpoint_finder" output="screen" />

	<!-- BOUNDING BOX OBJECT FILTER -->
	<!--node pkg="probability_filters" type="bounding_box_object_filter.py" name="bounding_box_filter" output="screen" /-->

</launch>