<launch>

	<!-- AMCL PARSER -->
	<node pkg="probability_filters" type="parse_amcl_for_filtering.py" name="amcl_parser" output="screen" />

	<!-- BOUNDING BOX OBJECT FILTER -->
	<node pkg="probability_filters" type="bounding_box_object_filter.py" name="bounding_box_filter" output="screen" />

</launch>p