<launch>

	<!--LAUNCH KINECT FOR IMAGE-GETTING
	 (NOTE THAT RENAMING THE CAMERA FIXES A tf PROBLEM)-->
	<include file="$(find openni_launch)/launch/openni.launch" >
		 <arg name="camera" value="openni"/>
 	</include>

	<!--RUN SKELETON TRACKER-->
	<node pkg="openni_tracker" type="openni_tracker" name="skeleton_tracker" />

	<!--RUN STAND/WALK CLASSIFIER-->
	<node pkg="probability_filters" type="is_standing_still.py" name="is_standing_still" output="screen" />
	

</launch>