<launch>

	<!--Start Kinect or Xtion with depth registration-->
	<include file="$(find openni_launch)/launch/openni.launch" >
		<arg name="depth_registration" value="true" />
	</include>

	<!--Launch hat detector -->
	
	<!-- Run OpenNI person tracker with correct parameter -->
	<node pkg="openni_tracker" type="openni_tracker" name="openni_tracker" output="screen" >
	      <param name="camera_frame_id" value="/camera_depth_frame" />
	</node>			    

	<!--Run hat-on-head detector -->

	<!--Run skeleton re-publisher -->
	<node pkg="person_filter" type="skeleton_publisher.py" name="skeleton_publisher" output="screen" />

	<!--Run skeleton XYZ->UV converter -->
	<node pkg="person_filter" type="skeletons_to_UV.py" name="skeletons_to_UV" output="screen" />

	<!--Run message synchronizer!-->
	<node pkg="person_filter" type="synchronizer" name="synchronizer" output="screen" />

	<!--Run person extractor (displays an image!) -->
	<node pkg="person_filter" type="extract_person_by_label.py" name="extract_person_by_label" output="screen" />


</launch>